:root {
  --darkGrey: #232325;
  --grey: #363636;
  --greyActive: #2c2c2c;
  --blue: #64b8fe;
}

.container {
  max-with: 1500px;
  width: 90%;
  background-color: var(--grey);
  margin: 0 auto;
  margin-top: 50px;
}

nav {
}

nav ul {
  display: flex;
}

nav ul li {
  height: auto;
}
nav ul li a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  height: 36px;
  padding: 0px 13px;
  line-height: 36px;
  border-right: var(--darkGrey) solid 1px;
  background-color: var(--grey);
}

nav ul li:nth-child(6) {
  margin-right: auto;
}

nav ul li:first-child a {
  color: var(--blue);
  background-color: var(--greyActive);
}

nav ul li:nth-child(7) a,
nav ul li:nth-child(8) a,
nav ul li:nth-child(9) a,
nav ul li:nth-child(10) a {
  border-right: 0px;
  color: var(--blue);
  font-size: 16px;
}

nav ul li:hover a {
  background-color: var(--greyActive);
}
